---
import MainLayout from "../layouts/MainLayout.astro";
import "@appzic/astro-reset-css"; // Reset CSS

const pageTitle = "Escalator";
---

<MainLayout title={pageTitle}>
	<h2>Sample HTML Content</h2>
</MainLayout>
